{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Worker</title>
    <link rel="stylesheet" href="{% static 'sign.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
    <main>
        <h3>Авторизация работника</h3>
        <form method="POST" action="/login_worker/">
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login" class="button" style="height: 6vh;">
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </main>
</body>
</html>